
.appBarLogo{
  height: 70px !important;
  width: 70px !important;
  max-width: 70px !important;
  max-height: 70px !important;
  min-width: 70px !important;
  min-height: 70px !important;
}

.leaflet-container{
  width:100vw;
  height:calc(100vh - 152px);
  margin: 0px auto auto auto;
}
.reportMap{
  width:60vw;
  max-width: 400px;
  height:40vh;
  max-height: 300px;
  margin: 0px auto auto auto;
}

.leaflet-control-attribution{
  display: none;
}
.createAccountText{
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}
.signInText{
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}
.report-form-input{
  margin-bottom: 100px;
} 

.sighting-card{
  word-wrap: break-word;
}

.sightingsMap .MuiOutlinedInput-root{
  background-color: white;
}

.sightingsMap .leaflet-control-zoom{
  margin-top: 74px;
}